/* Encabezado y elementos del mismo */
header{
    position: sticky;
    top: 0;
    background-color: black;
    padding: 0.5rem;
    z-index: 4;
}

/* NAV, LISTA E ITEMS */
.navegador{
    display: inline-block;
    width: 100%;
    background-color: black !important;
    color: white;
}

.navegador__lista{
    justify-content: space-between;
}

.navegador__logo{
    width: 3.5rem;
    height: 3.5rem;
}

.navegador__item{
    font-size: 1.125rem;
}
/* FIN NAVS, LISTA E ITEMS */